.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(24, 23, 23);
    color: #fff;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar .nav-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar .nav-links li a:hover {
    color: #ff6f61;
}

.navbar .nav-links .active-link {
    color: #ff6f61;
    font-weight: bold;
}