@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  /* background-color: black; */
  /* color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  font-family: "Playwrite GB S", cursive;
  font-weight: bold;
}